<div class="links scroll">
        <a href="{{site.baseurl}}/">About</a>
        <a href="{{site.baseurl}}/research/">Research</a>
        <a href="{{site.baseurl}}/publications/">Publications</a>
        <a href="{{site.baseurl}}/projects/">Projects</a>
        <a href="{{site.baseurl}}/work-experience-and-awards/">Work Experience and Awards</a>
        <a href="{{site.baseurl}}/teaching/">Teaching</a>
        <a href="{{site.baseurl}}/blog/">Blog</a>
        <a href="{{site.baseurl}}/misc/">Misc</a>
        <!-- <a href="https://www.linkedin.com/in/lorenzocarnevale/recent-activity/shares/">News</a> -->
</div>
<br>